body {
  /* font-family: Arial, sans-serif; */
  background-color: #585858;
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.form-container {
  background-color: #A0A0A0;
  border-radius: 20px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  width: 520px;
}

.form-container h2 {
  font-size: 52px;
  font-family: 'Trebuchet MS';
}

.form-container label {
  font-family: 'HP Simplified';
  font-size: 28px;
  width: 100%;
  font-weight:400 ;
}

.form-container input {
  width: 400px;
  padding: 8px 8px 8px ;
  margin-left: 20px;
  border: 1px solid #ccc;
  padding: 12px 12px 12px 12px;
  border-radius: 15px;
  cursor: text;
 }

.form-container button {
  background-color: black;
  color: #fff;
  width: 300px;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}

.form-container button:hover {
  background-color: #585858;
}

.form-container button.hint {
  background-color: transparent;
  font-size: 21px;
  font-family: 'HP Simplified';
  font-size: 28px;
  width: 100%;
  font-weight:400 ;
  font-size: 22px;
  color: black;
  margin-bottom: 8px;
}

/* Add these styles for the radio buttons and roleDiv */
.form-container .roleDiv {
  /* margin-top: 20px; */
  align-items: center;
}

.form-container .roleDiv label {
  font-size: 28px;
  /* margin-right: 20px; */
}

.form-container .roleDiv input[type="radio"] {
  margin-right: 60px;
  margin-left: 60px;
}
