body {
  background-color: #585858;
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.container {
  background-color: #A0A0A0;
  border-radius: 20px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  padding: 20px 40px 20px 40px;
  width:auto;
}

h2 {
  font-size: 42px;
  font-family: 'Trebuchet MS';
}

h3 {
  font-family: 'HP Simplified';
  font-size: 28px;
  width: 100%;
  font-weight:300 ;
}

table {
  border-collapse:collapse;
  width: 100%;
  max-width: 700px;
  font-family: 'HP Simplified';
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  
}

th, td {
  padding: 12px;
  text-align: center;
}

td{
  background-color: #f2f2f2;

}

th {
  color: #f2f2f2;
  background-color: black;
}

button {
  background-color: black;
  color: #fff;
  width: 300px;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}

button:hover {
  background-color: #585858;
}

input{
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-radius: 15px;
  cursor: pointer;
  height: 26px;
  font-family: 'HP Simplified';

}

select{
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-radius: 15px;
  cursor: pointer;
  height: 40px;
  font-family: 'HP Simplified';
}

.submit{
  align-content: center;
}

.tbuttons{
  background-color:transparent;
  color:black;
  font-family: 'HP Simplified';
  font-size: 20px;
  width:auto
}

.editbttn{
  margin-left: 8px;
  width:150px
}